{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block page_content %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{  title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{  subtitle }}
                </div>
                <br>
                <br>
                <div class="panel-body">
                    <div class="row">
                        <div style="margin-bottom: 10px; margin-left: 15px">
                            <button class="btn btn-success" onclick="Start();">Start</button>
                            <button class="btn btn-danger" onclick="Stop();">Stop</button>
                        <div style="margin-right: 15px" align="right">
                            <select id="logfile" onchange="GoToFileName(this);" class="form-control" style="width: 20%;">
                                {% for file in files %}
                                    {% if current_file == file %}
                                        <option value="{{ file }}" selected>{{ file }}</option>
                                    {% else %}
                                        <option value="{{ file }}">{{ file }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        </div>
                       <pre id="logs">
                           {{ logs }}
                       </pre>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    <!-- /.row -->
    <script>

    var refresh = true;
    var logs = document.getElementById("logs");

    ScrollToBottom();
    setInterval(RefreshLogs, 1000);

    function GoToFileName(element) {
        var filename = element.options[element.selectedIndex].text;
        Start();
        RefreshLogs(filename, 0);
    }

    function Stop () {
        refresh = false;

    }

    function Start () {
        refresh = true;

    }

    function RefreshLogs(filename, n_lines) {

        if (refresh) {

            if (filename === undefined ) {
                filename = $("#logfile").find(":selected").text();
            }

            if (n_lines === undefined) {
                 n_lines = $("#logs").text().split("\n").length;
            }

            $.ajax({
                type: "GET",
                url: '/logs/?refresh_logs=1&filename=' + filename + '&n_lines=' + n_lines,
                success: function (data) {
                    if (data["logs"].length > 0) {
                        if (n_lines === 0) {
                            $('#logs').html(data["logs"]);
                        } else {
                            $('#logs').append(data["logs"]);
                        }
                    }
                    ScrollToBottom();
                }

            });
        }
    }


    function ScrollToBottom() {
         // Make the scrollbar go down
         logs.scrollTop = logs.scrollHeight;
    }

    </script>

{% endblock page_content %}
