{% load staticfiles %}
{% for msg in messages %}
<!-- display admin msg ----->
{% if msg.author == "admin" %}
<div class="row msg_container base_sent">
    <div class="col-md-10 col-xs-10" align="right">
                <div class="messages msg_sent" style="display: inline-block;">
                    <p> {{ msg.message }}</p><br>
                    {% if msg.receipt_confirmation %}
                        <a style="font-size: 10px">Seen | {{ msg.time_stamp }}</a>
                    {% endif %}
                </div>
    </div>
</div>
{% endif  %}

<!-- display user msg ----->
{% if msg.author == current_user %}
<div class="row msg_container base_receive">
    <div class="col-md-10 col-xs-10">
        <div class="messages msg_receive" style="display: inline-block; margin-left: 10px">
            <p> {{ msg.message }}</p><br>
            {% if msg.receipt_confirmation %}
                <a style="font-size: 10px">{{ msg.time_stamp }}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif  %}
{% endfor %}



